<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>enellerett.se</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
  </head>

  <body>
    <div class="container">
      <div class="field">
	<label class="label">Enter a Swedish noun below...</label>
	<p class="control">
	    <input id="noun" class="input" type="text" placeholder="flaska">
	</p>
      </div>
  </div>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
  </body>
</html>
