<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>enellerett.se</title>
  <link rel="stylesheet" href="/static/css/bulma.css">
  <meta name="description" content="Lookup the gender of Swedish nouns">
  <meta name="author" content="dacechavez">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body>
  <div class="box">
    <p><a href="https://github.com/dacechavez/enellerett">enellerett.se</a></p>
  </div>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column">
          <div class="field has-addons">
            <form id='form' class="control">
              <input id="noun" class="input" type="text" placeholder="stol" required
		     pattern="([A-Za-z\u00C4\u00E4\u00C5\u00E5\u00D6\u00F6\u00E1\u00C1\u00E9\u00C9\u00ED\u00CD\u00F3\u00D3\u00FA\u00DA\u00FD\u00DD\u00E0\u00C0\u00E8\u00C8\u00EC\u00CC\u00F2\u00D2\u00F9\u00D9\u00EB\u00CB\u00EF\u00CF\u00FC\u00DC\u00E7\u00C7]*\s*)*" autofocus>
            </form>
            <p class="control">
              <a class="button is-primary" onclick="send(false);">en eller ett?</a>
            </p>
          </div>
          <div id="answers"></div>
        </div>
      </div>
    </div>
  </section>
  <script>
    document.getElementById('form').addEventListener("submit", send);
    function send(e) {
      if(e) {
        // Form was submitted via return button
        e.preventDefault();
      } else {
        // submitted via click button
        // dont do much except returning focus to the input
        document.getElementById("noun").focus();
      }
      var noun = document.getElementById('noun').value;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/substantiv');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var ret = xhr.responseText;
          if (ret != '_evil') {
            var resp = document.createElement('p');
            resp.innerHTML = '<p>' + ret + '</p>';
            document.getElementById('answers').appendChild(resp);
            // Clear the input field so that the user doesnt have to
            document.getElementById('noun').value = '';
          }
        }
      };
      xhr.send('noun=' + noun);
    }
  </script>
</body>
</html>
